:root {
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --main-colorFont: #212121;
  --second-colorFont: #757575;
  --main-bgc: #e5e5e5;
  --dark-bgc: #2f303a;
  --grey-bgc: #f5f4fa;
}

body {
  font-family: var(--main-font);
  color: var(--main-colorFont);
}

/* ========== HEADER ========== */
.navigation-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-colorFont);
}

.navigation-logo span {
  color: var(--main-color);
}

.navigation-list-link,
.header-address-mail,
.header-address-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.navigation-list-link:hover,
.navigation-list-link:active,
.header-address:hover,
.header-address:active {
  color: var(--main-color);
}

.header-address-mail,
.header-address-phone {
  color: var(--second-colorFont);
}

/* ========== END HEADER ========== */
