:root {
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --main-colorFont: #212121;
  --second-colorFont: #757575;
  --third-colorFont: #ffffff;
  --main-bgc: #e5e5e5;
  --dark-bgc: #2f303a;
  --grey-bgc: #f5f4fa;
}

body {
  font-family: var(--main-font);
}

/* ========= COMPONENTS ======== */
.navigation-list-link,
.header-address-mail,
.header-address-phone {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: var(--main-colorFont);
}

.address {
  font-style: normal;
}

/* ======= END COMPONENTS ====== */

/* ========== HEADER ========== */
/* =========== LOGO =========== */
.navigation-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-colorFont);
}

.navigation-logo .text-even-theme {
  color: var(--main-color);
}

.navigation-logo .text-light-theme {
  color: var(--main-colorFont);
}

.navigation-logo .text-dark-theme {
  color: var(--third-colorFont);
}
/* ========= END LOGO ========== */

.navigation-list-link {
  color: var(--main-colorFont);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-address-mail:hover,
.header-address-mail:focus,
.header-address-phone:hover,
.header-address-phone:focus {
  color: var(--main-color);
}

.header-address-mail,
.header-address-phone {
  color: var(--second-colorFont);
}
/* ========== END HEADER ========== */

/* ==========   MAIN   ========== */
/* =======   HERO up side ======= */
.hero-up-side-bg {
  background-color: var(--dark-bgc);
}

.hero-main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-colorFont);
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--main-color);
  color: var(--third-colorFont);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #2196f3;
}
/* ====== END HERO up side ====== */

/* ======   HERO down side ====== */
.hero-third-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-colorFont);
}

.hero-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-colorFont);
}
/* ====   END HERO down side ==== */

/* =========   ABOUT US ========= */
.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-colorFont);
}
/* =======   END ABOUT US ======= */

/* =========  OUR TEAM ========== */
.team-third-header,
.team-description {
  font-size: 16px;
  line-height: 1.888;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--grey-bgc);
}
.team-description {
  font-weight: 500;
  color: var(--main-colorFont);
}

.team-description {
  font-weight: 400;
  color: var(--second-colorFont);
}
/* =======  END OUR TEAM ======== */
/* ========== END MAIN ========== */

/* ==========  FOOTER =========== */
.footer-address-maps {
  text-decoration: none;
  color: var(--third-colorFont);
}
.footer-address-mail,
.footer-address-phone {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-maps:hover,
.footer-address-maps:focus,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-phone:hover,
.footer-address-phone:focus {
  color: var(--main-color);
}
/* ========  END FOOTER ========= */

/* =========  PORTFOLIO ========= */

/* =======  END PORTFOLIO ======= */
