:root {
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --main-colorFont: #212121;
  --second-colorFont: #757575;
  --main-bgc: #e5e5e5;
  --dark-bgc: #2f303a;
  --grey-bgc: #f5f4fa;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: var(--main-font);
  color: var(--main-colorFont);
}

/* ========== HEADER ========== */
.navigation-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-colorFont);
}

.navigation-logo span {
color: var(--main-color);
}

/* ========== END HEADER ========== */
